<launch>
    <arg name="driver" default="m2cs_player" />
    <arg name="output" default="screen" />
    <node name="$(arg driver)" pkg="$(arg driver)" type="$(arg driver)" output="$(arg output)"> </node>
    <node pkg="rviz" type="rviz" name="m2cs_rviz" args="-d $(find m2cs_player)/rviz/m2cs.rviz" />

    <arg name="camera_name" default="camera" />
    <group ns="$(arg camera_name)">
        <!-- Nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen" />
        <!-- Debayering nodelet -->
        <node pkg="nodelet" type="nodelet" name="image_proc_debayer" args="load image_proc/debayer camera_nodelet_manager" output="screen" />
    </group>
</launch>